---
---

@import "{{ site.theme }}";

section:not(.page-header) {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

body.home {
  background: linear-gradient(110deg, #5d78cd, #7bc2d8);
}

.main-content {
  p, .highlight, img.m1 {
    margin: 1rem 2rem;
  }
  img.m1 {
    max-width: calc(100% - 2rem);
  }
  .highlight {
    width: calc(100% - 2rem);
  }
  ul {
    padding-left: 2rem;
  }
  nav ul {
    font-size: 0.9rem;
    list-style: none;
    padding-left: 0;
  }

  figure.highlight.demo {
    p {
      margin: 1rem 0;
    }
    padding: 2rem;
  }
}

img.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../images/circles-background.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 775px) {
  .wrapper {
    background-size: 50%;
  }
}

@media (min-width: 1600px) {
  .wrapper {
    background-size: 40%;
  }
}

.main-content pre > code.language-js {
  font-size: 1rem;
  tab-size: 2;
}

.inline-embed {
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0 auto;
}
